body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.page-content {
    flex: 1;
}

#intro-image {
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.intro-content h1 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 5.4rem;
    line-height: 1.071;
    max-width: 900px;
    opacity: 1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;

}

.intro-social {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 4.5rem;
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
}

.intro-social li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.intro-social li a,
.intro-social li a:visited {
    color: #FFFFFF;
}

.intro-social li a:hover,
.intro-social li a:focus {
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 45px;
    transition: all 0.3s ease;
}



#message-trigger {
    cursor: pointer;
    left: 5;
    top: 5;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}


/* Panel */


.panel {
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel h1 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 1.5rem;
    max-width: 900px;
    opacity: 1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.panel h2,
.panel h3 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 1rem;
    line-height: 1.071;
    max-width: 900px;
    opacity: 1;
    text-align: center;
    background-color: black;
    padding: 5px 10px;
    border-radius: 15px;
}

.panel h3 {
    font-style: italic;
    background-color: transparent;
    text-justify: distribute-all-lines;
}

.panel img {
    width: clamp(80px, 20vw, 200px);
    height: auto;
    border-radius: 50%;
}


/* Media corousel */
.marquee {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marquee h2 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 1.5rem;
    max-width: 900px;
    opacity: 1;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 1%;
}

.marquee-content {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.marquee-content img {
    margin: 5px;
    height: 50px;
}

.marquee-content img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}


/* Wrappers */
@media screen {
    .panel-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .marquee-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

}